/* work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* shared styles */
*{
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    margin-top: 20px;
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    border: 0;
    padding: 20px 20px;
    cursor: pointer;
}
/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px ;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 3rem;
    font-weight: 700;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}

/* banner-style */
.banner-content{
    max-width: 800px;
    text-align: center;
    font-family: Work Sans;
    margin: 0 auto;
}
.banner-title{
    color:  #131313;
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    color: #727272;
    width: 80%;
    margin: 20px auto;
}
.banner img{
    width: 100%;
    margin-top: 20px;
}

/* main */
main{
    max-width: 1440px;
    margin: 0 auto;
}
/* teams-style */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-title{
    font-weight: 500px;
    font-size: 45px;
}
.quick{
    color: #727272;
}
.our{
    color: #131313;
}
.feat{
    color: #FF900E;
}
.teams-description{
    color: #727272;
    font-size: 16px;
    font-weight: 400;width: 537px;
}


/* responsive styles */
/* mobile devices */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }

}
/* tab devices */
@media screen and (min-width: 576px) and (max-width: 960px){
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
}