/* work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* shared styles */
*{
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    margin-top: 20px;
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    border: 0;
    padding: 20px 20px;
    cursor: pointer;
}
.text-gray{
    color: #727272;
}
.titles{
    font-size: 3rem;
    font-weight: 700;
    color:  #131313;
}


/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px ;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}

/* banner-style */
.banner-content{
    max-width: 800px;
    text-align: center;
    font-family: Work Sans;
    margin: 0 auto;
}
.banner-title{
    color:  #131313;
    font-size: 4rem;
    font-weight: 700;
}
.banner img{
    width: 100%;
    margin-top: 20px;
}

/* main */
main{
    max-width: 1440px;
    margin: 70px auto;
}
/* teams-style */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.quick{
    color: #727272;
}
.our{
    color: #131313;
}
.feat{
    color: #FF900E;
}
.teams-description{
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

/* fact-section */
.fact{

}
.facts-card-container{
    display: flex;
    justify-content: space-around;
    
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 40px;
}
.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
}
.facts-card-container .card-title{
    font-weight: 700;
    color: #727272;
    font-size: 1.25rem;
    margin-top: 5px;
}
/* Sponsors */
.Sponsors{
    text-align: center;
}
.sponsor-img-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    gap: 40px;
    align-items: center;
}
.sponsor-img-container img{
    width: 165px;
}

/* footer */
footer > p{
    text-align: center;
}
/* responsive styles */
/* mobile devices */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav, .teams-container, .facts-card-container, .sponsor-img-container{
        flex-direction: column;
    }
    .teams-img{
        grid-template-columns: 1fr;
    }
    .teams-content, .facts-card-container, .sponsor-img-container{
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* tab devices */
@media screen and (min-width: 576px) and (max-width: 960px){
    header{
        padding: 20px;
    }
    nav, .teams-container, .sponsor-img-container{
        flex-direction: column;
    }
}